include *
include lookuponterra/server/static/css/*
include lookuponterra/server/static/js/*
include lookuponterra/server/example/demo-1/*
include lookuponterra/server/example/demo-2/*
include lookuponterra/server/example/demo-3/*
include lookuponterra/server/templates/*
include lookuponterra/doc/*
include lookuponterra/utilities/providers/*
